@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}

:root {
  /* Color */
  --primary-color: #ff42a5;
  --head-color: #0b0223;
}

.primary-c {
  color: var(--primary-color) !important;
}
.head-c {
  color: var(--head-color) !important;
}
