@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
body {
  font-family: "Work Sans", sans-serif;
}

:root {
  /* Color */
  --primary-color: #ff42a5;
  --head-color: #0b0223;
  --para-color: #534c64;
}

.primary-c {
  color: var(--primary-color) !important;
}
.head-c {
  color: var(--head-color) !important;
}
.txt-bg {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%) !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
.txt-edit {
  color: var(--head-color) !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
}
.para-edit {
  color: var(--para-color) !important;
  font-size: 1.125rem !important;
  font-weight: 400 !important;
  line-height: 1.875rem !important;
}
